_项目发布_/
_项目发布_
Deploy
_DB_/
Packages/
remote_image_cache/
_bin.*
*.csdat
*.bin
bin
obj
*.user
*.suo
*.lnk
*.rar
*ReSharper*
*Example*
Doc
desktop.ini
bin.*/
*.sdf
*.vs10x
Sample Projects/
.idea
ipch/
.vs10x
*.aux
*.dvi
*.log
*.ps
*.nupkg
*.sdf
*.opensdf

#OS junk files
Thumbs.db
*.DS_Store
*.GhostDoc.xml
#Visual Studio files
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.min.js
*.min.css
#Toolinga
[Tt]est[Rr]esult
.pdsync
.pdsyncu
#Project files
[Bb]uild/
*.pdsync
*.pdsyncu
*.dotCover
cache
*.[Rr]elease
*.[Dd]ebug
/iFishWebStatic/resources/editor/xheditor/xheditor_zh-cn.min.js
iFishWeb/FishSite/FishSite.UI/resources
.localhistory
*.min.js
*.min.css
*.min.js.map