<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="nuget_ignorepath" value="^(?!(v3(-flatcontainer)?|packages)/).*$" />
	</appSettings>
	<system.net>
		<!--
		<defaultProxy enabled="false">
			<proxy/>
			<bypasslist/>
			<module/>
		</defaultProxy>
		-->
		<connectionManagement>
			<add address="*" maxconnection="5192" />
		</connectionManagement>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
		<customErrors mode="RemoteOnly">
		</customErrors>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FSLib.Network" publicKeyToken="8bf54bd6729f490c" />
				<bindingRedirect oldVersion="1.0.0.0-9.9.9.9" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<add name="GeneralProxy" path="*" verb="*" type="System.Web.UI.Page, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode" />
		</handlers>
		<modules>
			<add name="GeneralProxy" path="v3/*" type="FishSite.NugetWarpper.NugetCache" />
			<add name="GeneralProxy" path="packages/*" type="FishSite.NugetWarpper.NugetCache" />
			<add name="GeneralProxy" path="v3-flatcontainer/*" type="FishSite.NugetWarpper.NugetCache" />
		</modules>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>